.red_text{
  color: red;
}

.bg_color_change{
  width: 900px;
  height: 200px;
  background-color: red;
  text-align: center;
}

.box{
  width: 50px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  background-color: blue;
}

.big{
  font-size: 30px;
}

.box1{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.box2{
  width: 100px;
  height: 100px;
  background-color: red;
}

.box3{
  width: 100px;
  height: 100px;
  background-color: green;
}

  .wrapper{
  display: flex;
}
