body{
  margin: 0px;
}

.line1{
  background-color: blue;
  height: 50px;
  width: 1536px;
}

.box1{
  background-color: red;
  height: 800px;
  width: 1024px;
}

.box2{
  background-color: black;
  height: 800px;
  width: 512px;
}

.wrapper{
  display: flex;
}

.line3{
  background-color: green;
  height: 50px;
  width: 1536px;
}
