body{
  margin: 0px;
}

.line1{
  background-color: #3399CC;
  height: 50px;
  width: 1536px;
}

.line2{
  background-color: #DC143C;
  height: 300px;
  width: 1536px;
}

.wrapper_left{
  background-color: #FFCC66;
  height: 300px;
  width:1024px;
  z-index: 1;
}

.box1{
  background-color: #3399CC;
  height: 100px;
  width: 800px;
  z-index: 2;
  position: relative;
  top: 30px;
  left: 112px;
}

.wrapper_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 112px;
  margin-right: 112px
}

.box2{
  background-color: #3399CC;
  height: 90px;
  width: 90px;
  z-index: 2;
  position: relative;
  top: 70px;
}

.wrapper_right{
  background-color: #33CC99;
  height: 300px;
  width:512px;
  z-index: 1;
  position: relative;
  top: -300px;
  left: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3{
  background-color: #3399CC;
  height: 250px;
  width: 250px;
  z-index: 2;
}
